version: '3.1'
services:
  axon-server:
    container_name: axonserver
    hostname: axonserver
    restart: always
    environment:
      - AXON_HOSTNAME=axonserver
    image: axoniq/axonserver:4.2.2-jdk11
    networks:
      - app_net
      - interfacing
    ports:
      - 8024:8024
      - 8124:8124
  github-workitems-resolver:
    container_name: gh-workitems
    depends_on:
      - axon-server
    image: registry.gitlab.com/dominiccobo-fyp/github-workitems-resolver:latest
    restart: always
    environment:
      - AXON_SERVER_HOSTNAME=axonserver
    networks:
      - app_net
      - interfacing
    env_file:
      - all.env
  github-contributor-experts-resolver:
    container_name: gh-contrib-experts
    depends_on:
      - axon-server
    image: registry.gitlab.com/dominiccobo-fyp/github-experts-resolver:latest
    restart: always
    environment:
      - AXON_SERVER_HOSTNAME=axonserver
    networks:
      - app_net
      - interfacing
    env_file:
      - all.env
  gitlab-workitems-resolver:
    container_name: gl-workitems
    restart: always
    env_file:
      - all.env
    depends_on:
      - axon-server
    image: registry.gitlab.com/dominiccobo-fyp/gitlab-workitems-resolver:latest
    networks:
      - app_net
    environment:
      - AXON_SERVER_HOSTNAME=axonserver

networks:
  app_net:
  interfacing:
    external: true